<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Books</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="books.css" />
        <script src="books.js"></script>
    </head>

    <body>
        <nav class="navigation-container">
            <a class="current-page" href="books">View Books</a>
            <a href="books">View Books</a>
            <a href="books">View Books</a>
            <a href="books">View Books</a>
            <!--section>Settings</section-->
        </nav>
        <div class="search-bar">
            <input type="search">
            <button>Search</button>
        </div>
        <div class="main-container">
            <!--table>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}">Id</td>
                    <td th:text="${book.title}">Title</td>
                    <td th:text="${book.author}">Author</td>
                </tr>
            </table-->
            <div class="bookList">
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
                <div class="bookCard">
                    <div class="selectBook"><input type="checkbox"></input></div>
                    <img
                        src="https://media.istockphoto.com/vectors/abstract-minimal-geometric-circle-background-for-business-annual-vector-id1210701957?k=20&m=1210701957&s=612x612&w=0&h=FcOUXSrxlHnJztn-U_JSQ0X-VyyUtLKRV4QXSHfprvs="
                        alt="Book"
                    />
                    <div class="bookDetails">
                        <h4><b>Harry Potter</b></h4>
                        <p>A young wizard founds out about his powers...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="confirmation">
            <div class="confirmation-container">
                <div class="date-container">
                    <p>Today's Date</p>
                    <p>Loan End Date</p>
                    <!--input type="date" id="bookLoanStartDate" name="bookLoanStartDate">
                    <input type="date" id="bookLoanEndDate" name="bookLoanEndDate"-->
                </div>
                <div class="book-container">
                    <p>Izvēlētas:</p>
                    <p style="margin-left: 5px;">X</p>
                </div>
                <div><button class="confirm-button">Pabeigt Nomu</button></div>
            </div>
        </div>
        <div class="credits">lorem ipsum biblioteka @book co. 2022</div>
    </body>
</html>
