:root {
    /* color scheme
     * darkblue - general background
     * darkgreen - nav bar
     * lightgreen - highlights
     * lightbeige - 
     * brightred -
     */
    --darkblue: #363846;
    --darkblue2: #3f4152;
    --darkgreen: #5e8477;
    --lightgreen: #adbfaa;
    --lightbeige: #f6edd5;
    --brightred: #da6d5e;

    /* for font color */
    --white: #a9a9a9;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--darkblue);
    margin: 0;
}

.navigation-container {
 
    background-color: var(--darkgreen);
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.navigation-container nav {
}

.navigation-container a {
    border-radius: 8px;
    color: black;
    align-content: center;
    font-size: large;
    border-color: #000000;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.navigation-container a:hover {
    color: var(--lightgreen);
    transition: 0.2s;
}

/*
.navigation-container .current-page {
    color: var(--white);
}

.navigation-container .current-page:hover {
    color: var(--white);
    background-color: var(--darkgreen);
}
*/

/*
 * Filter/Search bar
 */
.search-bar{
    margin: 0px;
    padding: 0px;
    display: block;
    background-color:var(--white);
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px ;
}

.search-bar input{
    width: 300px;
    margin-left: 30px;
}
.main-container {
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--darkblue);
    height: auto;
 
}

/*
 * Credits in the bottom
 */
.credits {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
}

/*
 * For book cards
 */
.bookList > .bookCard{
    display: inline-block;
}

.bookCard {
    /* Add shadows to create the "card" effect */
    width: 200px;
    height: fit-content;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-right: 5px;
    align-content: center;
    background-color: var(--lightbeige);
    border-radius: 5px;
}

.selectBook{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 175px;
}

/*
 * TODO: needs better css to be in center
 */
.bookCard img {
    height: 150px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 10px;
    display: inline-block;
}

/* On hover, deeper shadow */
.bookCard:hover {
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2);
}

.bookDetails {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 1px;
}

/*
 *  Confirmation bar
 *  That contains book info, finish button
 */

.confirmation {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: var(--darkblue2);
    height: 80px;
    padding-right: 30px;
    padding-left:1000px;
}

.confirmation div {
    display: inline-block;
    float: left;
    padding-right: 30px;
    
}
.date-container{
    margin-top: 5px;
}
.date-container p{
    font-size: small;
    
}

.book-container{
    margin-top: 15px;
}

.book-container p{
    float: left;
    display: inline-block;
}

.confirm-button {
    width: fit-content;
    background-color: var(--darkgreen);
    border-color: var(--darkgreen);
    border-radius: 8px;
    margin-top: 6px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-top: 20px;
}

.confirm-button:hover{
}
