:root {
    /* color scheme
     * darkblue - general background
     * darkgreen - nav bar
     * lightgreen - highlights
     * lightbeige - 
     * brightred -
     */
    --darkblue: #363846;
    --darkblue2: #3f4152;
    --darkgreen: #5e8477;
    --lightgreen: #adbfaa;
    --lightbeige: #f6edd5;
    --brightred: #da6d5e;

    /* for font color */
    --white: #a9a9a9;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--darkblue);
    margin: 0;
}

.navigation-container {
    display: block;
    background-color: var(--darkgreen);
    margin: 20px;
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.navigation-container nav {
}

.navigation-container a {
    border-radius: 8px;
    color: black;
    align-content: center;
    font-size: large;
    border-color: #000000;
    text-decoration: none;
    padding: 10px;
}

.navigation-container a:hover {
    color: var(--lightgreen);
    transition: 0.2s;
}

/*
.navigation-container .current-page {
    color: var(--white);
}

.navigation-container .current-page:hover {
    color: var(--white);
    background-color: var(--darkgreen);
}
*/
.main-container {
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--darkblue);
    height: 800px;
}

/*
 * Credits in the bottom
 */
.credits {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
}

/*
 * For book cards
 */
.bookList {
}

.bookCard {
    /* Add shadows to create the "card" effect */
    width: 200px;
    height: fit-content;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    align-content: center;
    background-color: var(--lightbeige);
    border-radius: 5px;
}

/*
 * TODO: needs better css to be in center
 */
.bookCard img {
    margin: 0px;
    height: 150px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* On hover, deeper shadow */
.bookCard:hover {
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
}

.bookDetails {
    margin-top: 0px;
    padding-top: 0px;
    padding: 0px 16px;
}
